* {
	padding: 5px;
}

body {
	background-color: #000000;
}

div {
	color: white;
    	font-family: 'Lato', sans-serif;
}

#header {
	height: 10px;
	margin-bottom: 10px;
	font-weight: 700;
}

#footer {
	height: 10px;
	font-weight: 300;
	clear: both;
}
