* {
	padding: 5px;
}

body {
	background-color: #000000;
	color: white;
}

div {
    	font-family: 'Lato', sans-serif;
}

#header {
	height: 10px;
	font-weight: 400;
	margin-bottom: 10px;
	color: white;
}

#sidebar {
	font-weight: 300;
	color: #858585;
}

#footer {
	height: 10px;
	font-weight: 300;
	color: #464646;
	clear: both;
}
